{% extends "base/base_auth.html" %}
{% load static %}

{% block pag_descrip %} Login {% endblock %}
{% block title_pag %} Login | PredictAI 💻 {% endblock %}
{% block favicon %}
    https://cdn-icons-png.flaticon.com/512/8820/8820158.png
{% endblock favicon %}

{% block text_btn %}
    Login with google
{% endblock text_btn %}

{% block auth_separator %}
    Or Login with PredictAI E-mail
{% endblock %}

{% block auth_form %}
    <form method="post" class="auth-form flex flex-col gap-4 w-full mx-auto min-w-0">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul class="text-red-600 text-sm text-center font-bold break-words whitespace-normal max-w-full">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for field in form %}
            <div class="flex flex-col gap-1 min-w-0">
                {% if field.errors %}
                    <p class="text-red-600 text-xs mb-1 break-words whitespace-normal max-w-full">{{ field.errors.0 }}</p>
                {% endif %}

                {% if field.label %}
                    <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-700"></label>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="mt-4 w-full py-3 rounded-lg bg-blue-600 text-white font-semibold hover:bg-blue-700 transition">
            Sign In
        </button>

        <p class="text-center text-sm font-semibold mt-3">
            ¿No tienes una cuenta?
            <a href="{% url 'custom_auth:signup' %}" class="text-blue-600 hover:underline">
                Crea una cuenta
            </a>
        </p>

        <p class="text-center text-sm font-semibold">
            ¿Olvidaste tu contraseña?
            <a href="#" class="text-blue-600 hover:underline">Recupérala</a>
        </p>
    </form>
{% endblock %}
